@import '../helpers/_variables';

html {
	font-size: 10px;
}

body {
	background: #f8f8f8;
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 1.6rem;
}

header {
	height: 90vh;
	background: $red;
	color: #fff;
	display: flex;
	align-items: center;

	h1 {
		margin: auto;
		font-size: 6rem;
		line-height: 6rem * $ratio;
	}
}