@import '../helpers/_variables';
@import '../helpers/_typography';
@import '../helpers/_animations';

html {
	font-size: 10px;
	-webkit-font-smoothing: antialiased;
}

body {
	background: #f8f8f8;
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 1.6rem;
	line-height: 1.6rem * $ratio;
}

header {
	height: 50vh;
	position: relative;
	overflow: hidden;

	.background {
		background: url('Images/gulp-pattern.png') 50% 0 / 200px $red;
		height: 200%;
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		z-index: -1;
	}

	.logo-container {
		flex-direction: column;
		display: flex;
		align-items: center;
		height: 100%;
	}

	h2 {
		display: block;
		padding-bottom: 20px;
		color: fade-out(#fff, 0.4);
		font-weight: normal;
	}

	img {
		margin: auto;
		padding-top: 78px;
	}
}

section {
	padding: 15px;
}