.fade-in {
	opacity: 0;
	animation: 0.5s linear fadeIn 0.3s forwards;
}

@keyframes fadeIn {
	from {
		transform: translateY(-200%);
		opacity: 0;
	}
	70% {
		transform: none;
	}
	100% {
		opacity: 1;
	}
}