h1, h2 {
	margin: 0;
}

h1 {
	font-size: 4rem;
	line-height: 4rem * $ratio;
}

h2 {
	font-size: 3rem;
	line-height: 3rem * $ratio;
}

a {
	color: $red;
	text-decoration: none;

	&.twitter {
		color: $twitter;
	}
}